*{
    margin: 0;
}

header{
    background-color: lightskyblue;
    background-image: url(../img/pattern.png);
    background-repeat: repeat;
    background-size: 600px;
}

.logo{
   margin-top: 140px;

    width: 180px;
}

main, footer, .logo{
    margin-left: 10px;
}

.titolo{
    font-size: 70px;
}

.info{
    font-size: 25px;
}

.autore{
    color: rgb(37, 140, 214);
}

.data, .info{
    color: gray;
}

figure img{
    width: 800px;
}

.tim1{
    width: 938px;
}

p span{
    background-color: yellow;
}

.section2, .section3, .section4, .section5, .section6{
    margin-top: 30px;
}
thead th{
    background-color: rgb(50, 150, 221);
}

.colored{
    background-color: lightskyblue;
}

.long{
    width: 50%;
}

