*{
    margin: 0;
}

header{
    background-color: lightskyblue;
    background-image: url(../img/pattern.png);
    background-repeat: repeat;
    background-size: 600px;
}

.content{
    margin-left: 75px;
    margin-right: 65px;
}

.logo{
   margin-top: 140px;

    width: 200px;
}


.titolo{
    font-size: 70px;
}

.info{
    font-size: 25px;
}

.autore{
    color: rgb(37, 140, 214);
}

.info, .data, .footer-title, .text-1, .text-2{
    color: gray;
}

figure img{
    width: 800px;
}

.tim1{
    width: 938px;
}

span.highlight{
    background-color: yellow;
}

.section2, .section3, .section4, .section5, .section6, footer{
    margin-top: 30px;
}
thead th{
    background-color: rgb(50, 150, 221);
}

.colored{
    background-color: lightskyblue;
}

.long{
    width: 50%;
}

.image-1, .image-2{
    margin-top: 10px;
}

.img-1{
    background-image: url(../img/monitor.jpg);
}

.img-2{
    background-image: url(../img/graph.jpg);
}

.img-1, .img-2{
    margin-top: 10px;
    margin-bottom: 5px;
    width: 300px;
    height: 200px;
}

.text-1, .text-2{
    font-size: 18px;
}